.weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;

  .weather-container {
    background: white;
    color: #554b5e;
    width: 50%;
    border-radius: 12px;
    padding-inline: 30px;
    padding-block: 8px;

    @media only screen and (max-width: 992px) {
      width: 80%;
    }

    .title {
      display: flex;
      justify-content: space-between;
    }

    .img-and-text {
      display: flex;
      align-items: center;
      gap: 26px;

      @media only screen and (max-width: 992px) {
        display: block;

        img {
          width: 150px;
          height: 150px;
        }
      }

      .text {
        .temperature {
          font-size: 2.6rem;
          margin: 0;
        }

        p {
          margin: 0;
          margin-block: 3px;

          @media only screen and (max-width: 600px) {
            margin-block: 1rem;
          }

        }
      }
    }

    .min-max-temperature {
      display: flex;
      justify-content: space-around;

      @media screen and (max-width: 992px) {
        flex-direction: column;

        p {
          margin-block: 1rem;
        }
      }
    }
  }
}
