.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #554b5e;
    color: #edeaf5;
    padding-inline: 14px;

    .right-header {
        display: flex;
        align-items: center;
        gap: 25px;

        .github {
            cursor: pointer;
        }
    }
}