.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #554b5e;
    color: #edeaf5;
    padding-inline: 14px;
    max-width: 1700px;
    margin-inline: auto;

    @media only screen and (max-width: 600px) {
        display: block;
        padding-block: 10px;
      }

    .right-header {
        display: flex;
        align-items: center;
        gap: 25px;

        .github {
            cursor: pointer;
        }
    }
}